.App {
  text-align: center;
  
  background: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.signin-form > div{ 
  width: 400px;
}

.frontpage-grid > * { 
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  width: 100%;
}

@media (min-width: 600px) {
  .css-1oqqzyl-MuiContainer-root{
    padding: 0px;
  }
}

.body-container{
  display: inline-block;
  width: 100%;
}

.title-container{
  animation-name: moveUp;
  animation-duration: 2s;
  animation-iteration-count: 1; 
  animation-timing-function: ease-in-out;
}

.front{
  margin-top: 82px; height: calc(100vh - 82px); overflow: hidden;
  text-align:left;
  padding-left: 24px;
}

@keyframes moveUp {
  from {margin-top: 150px; opacity: 0;}
  to {margin-top: 0px; opacity: 1;}
}

