.App {
  text-align: center;
  
  background: white;
}

.frontpage-grid > *{ 
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  width: 100%;
}

@media (min-width: 600px) {
  .css-1oqqzyl-MuiContainer-root{
    padding: 0px;
  }
}

.body-container{
  display: inline-block;
  width: 100%;
}

.title-container{
  animation-name: moveUp;
  animation-duration: 2s;
  animation-iteration-count: 1; 
  animation-timing-function: ease-in-out;
  text-align: -webkit-center;
  padding-bottom: 10px;
  background-color:  hsla(0, 0%, 0%, 0.2);
  width: 90%;
}

.front{
  margin-top: 82px; height: calc(100vh - 82px); overflow: hidden;
  text-align: -webkit-center;
}

@keyframes moveUp {
  from {margin-top: 150px; opacity: 0;}
  to {margin-top: 0px; opacity: 1;}
}

